.layout_container {
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

.layout_container header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.layout_container nav h3 {
  margin-left: 150px;
  margin-right: 29px;
  font-size: 20px;
  font-weight: 600;
  color: #766fde;
}

.layout_container nav a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.layout_container nav a:hover {
  color: #766fde;
}

.layout_container nav a:focus {
  outline: none;
}
