.card_container button{
    background-color: #f1f2fb;
    border: #f1f2fb;
    width: 284px;
    height: 161px;
    padding: 10px;
}


.card_container button img{
    padding-top: 0px;
    width: 43px;
    height: 43px;
    border-radius: 30px;
}

.card_container button h1{
    font-size: 16px;
    font-weight: 600;
}

.card_container button p{
    font-size: 16px;
    font-weight: 500;
    color: #6d6d71;
    width: 250px;
    line-height: 22px;
    margin-left: 8px;
}